{
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
    "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
	"trailingComma": "es5",
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"printWidth": 9999,
	"proseWrap": "preserve"
}
