@font-face {
    font-family: 'REM';
    src: url('/resources/fonts/REM.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 1 999;
    font-variation-settings: 'slnt' 0;
}
