@use 'sass:math';

@function use-spacer($minSize: 1, $factor: 3) {
	// convert to rem
	$maxSize: $minSize * $factor;

	$maxWidth: math.div(1440, 16);
	$minWidth: math.div(375, 16);

	$slope: math.div($maxSize - $minSize, $maxWidth - $minWidth);
	$yAxisIntersection: calc($minWidth * -1 * $slope + $minSize);
	$preferredValue: calc(($yAxisIntersection * 1rem) + ($slope * 100vw));

	$minSize: $minSize * 1rem;
	$maxSize: $maxSize * 1rem;

	@return clamp($minSize, $preferredValue, $maxSize);
}
