.text {
	&__page {
		@include responsive-font(3.6vw, 26px, 42px, 36px);
		font-family: $font-family;
		font-weight: $font-extra-bold;
		font-optical-sizing: auto;
		line-height: 1.1;
	}

	&__title {
		@include responsive-font(2.5vw, 20px, 30px, 25px);
		font-family: $font-family;
		font-weight: $font-bold;
		font-optical-sizing: auto;
		line-height: 1.1;
	}

	&__content {
		@include responsive-font(2vw, 16px, 24px, 20px);
		font-family: $font-family;
		font-weight: $font-regular;
		font-optical-sizing: auto;
		line-height: 1.25;
	}

	&__small {
		@include responsive-font(1.2vw, 10px, 14px, 12px);
		font-family: $font-family;
		font-weight: $font-regular;
		font-optical-sizing: auto;
		line-height: 1.25;
	}

	&--extra-bold {
		font-weight: $font-extra-bold;
	}

	&--bold {
		font-weight: $font-bold;
	}

	&--regular {
		font-weight: $font-regular;
	}

	&--light {
		font-weight: $font-light;
	}
}

// Basics
a {
	text-decoration: none;
}

::selection {
	background-color: $color-light;
	color: $color-dark;
}

.selection--inverted {
	&::selection {
		background-color: $color-light;
		color: $color-dark;
	}
}
