/*
* Colors
*/
$color-black: #000;
$color-white: #fff;

$color-dark: #353535;
$color-light: #c5c2c2;

$color-success: #6ca12e;
$color-error: #e03333;

/*
 * Typo
 */
$font-family: 'REM', sans-serif;
$font-light: 200;
$font-regular: 400;
$font-bold: 500;
$font-extra-bold: 700;

/*
* Heights
*/
$header-height-s: 60px;
$footer-height-s: 80px;

/*
* Layers
*/
$layer-content: 10;
$layer-header: 100;

/*
 * Design variables
 */
$border-radius: 8px;
