/*
* Colors
*/
$color-black: #000;
$color-white: #fff;

$color-dark: #231f20;
$color-light: #f2efea;

$color-primary: #de3c4b;
$color-success: #82a759;
$color-error: #e0491b;
$color-focus: #71a9f7;
$color-selection: $color-focus;

/*
 * Typo
 */
$font-family: 'REM', sans-serif;
$font-light: 200;
$font-regular: 400;
$font-bold: 500;
$font-extra-bold: 700;

/*
* Heights
*/
$header-height-s: 60px;
$footer-height-s: 80px;

/*
* Layers
*/
$layer-content: 10;
$layer-header: 100;
$layer-login: 110;
$layer-sidebar: 120;
$layer-modal: 130;
$layer-flash: 140;

/*
 * Design variables
 */
$border-radius: 8px;
$box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
