.app {
	display: grid;
	grid-template-areas:
		'header'
		'main'
		'footer';
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr;
	height: 100vh;
	height: 100svh;
	background-color: $color-dark;
	color: $color-light;
}

.body {
	background-color: $color-dark;
}
