.header {
	grid-area: header;
	position: sticky;
	align-self: flex-start;
	display: flex;
	align-items: center;
	padding: use-spacer(0.5, 1.5) 0;
	text-align: start;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: $layer-header;
	box-shadow: $box-shadow;

	&__user {
		@extend %button-reset;
		width: 48px;
		height: 48px;

		svg {
			width: 48px;
			height: 48px;
		}
	}
}
