@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'components/spinner';

[x-cloak] {
    display: none;
}

input:invalid,
textarea:invalid,
select:invalid {
    box-shadow: none;
}

.main--app {
    min-height: 100vh;
    min-height: 100svh;
    max-height: 100vh;
    max-height: 100svh;
}
