@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'components/spinner';

[x-cloak] {
    display: none;
}

input:invalid,
textarea:invalid,
select:invalid {
    box-shadow: none;
}

.main--app {
    min-height: calc(100vh - 5rem);
    min-height: calc(100svh - 5rem);
    max-height: calc(100vh - 5rem);
    max-height: calc(100svh - 5rem);
}
