.btn {
	$this: &;

	@extend .text__content;

	background-color: transparent;
	border: none;
	border-radius: 0;
	padding: 0;
	margin: 0;
	color: $color-light;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	cursor: pointer;
	padding: 0.75em 0.325em;
	border-radius: $border-radius;

	&--primary {
		&,
		&:focus,
		&:visited {
			background-color: $color-primary;
			color: $color-light;
		}
	}

	&--dark {
		&,
		&:focus,
		&:visited {
			background-color: $color-dark;
			color: $color-light;
		}
	}

	&--light {
		&,
		&:focus,
		&:visited {
			background-color: $color-light;
			color: $color-dark;
		}
	}

	&--link {
		display: inline-block;
		width: auto;
		text-decoration: none;
		padding: 0.75rem 1rem;
	}

	&--icon {
		#{$this}__icon {
			color: $color-light;
		}
	}

	&__icon {
		width: 3rem;
		height: 3rem;

		&--rotate {
			transform: rotate(180deg);
		}
	}

	&--icon-filled {
		display: inline-flex;
		width: auto;
		padding: 0.75em 1em;
		gap: 1rem;

		#{$this}__icon {
			color: $color-dark;

			&--dark {
				color: $color-light;
			}
		}
	}

	&--thumb {
		color: $color-black;
		stroke: $color-black;
		fill: $color-primary;
	}
}
