.message {
    @extend .text__content;

    $this: &;
    $animation-curve: cubic-bezier(0.45, 0.5, 0.2, 1.34);

    @keyframes duration {
        0% {
            scale: 1 1;
        }
        100% {
            scale: 0 1;
        }
    }

    width: 100%;
    padding-bottom: 80px;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    position: relative;
    overflow: hidden;
    transform: translateY(100%);
    transition: transform var(--slide-duration, 300ms) $animation-curve;

    &::before {
        content: '';
        display: block;
        height: 4px;
        width: 100%;
        scale: 1;
        bottom: 0;
        left: 0;
        background-color: #fff;
        position: absolute;
        animation: duration var(--duration, 5000ms) linear;
        transform-origin: right center;
    }

    &--show {
        transform: translateY(0);
        transition: transform var(--slide-duration, 300ms) $animation-curve;
    }

    &--success {
        background-color: $color-success;
    }

    &--error {
        background-color: $color-error;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.75rem;
        padding: 1rem 0;
        position: relative;
    }

    &__close {
        @extend %button-reset;
    }

    &__icon {
        width: 32px;
        height: 32px;
    }

    &__container {
        position: fixed;
        bottom: 0;
        right: 50%;
        translate: 50% 0;
        width: 100%;
        z-index: $layer-flash;
        display: none;

        &--show {
            display: block;
        }
    }
}
