.modal {
    $this: &;
    $animation-duration: 500ms;

    isolation: isolate;
    position: relative;
    z-index: $layer-modal;

    &--show {
        #{$this}__wrapper {
            translate: 0 0;
        }

        #{$this}__drop {
            visibility: visible;
            opacity: 1;
            z-index: $layer-sidebar - 1;
        }
    }

    &__drop {
        @extend %button-reset;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        height: 100svh;
        z-index: -1;
        backdrop-filter: blur(5px);
        visibility: hidden;
        opacity: 0;
        transition: all $animation-duration ease;
    }

    &__wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: grid;
        grid-template-rows: 1fr auto;
        translate: 0 100vh;
        transition: translate $animation-duration
            cubic-bezier(0.63, 0.22, 0.38, 0.89);
        max-height: 100vh;
        max-height: 100svh;
        overflow: auto;
        z-index: $layer-modal;
    }

    &__inner {
        @extend .text__content;
        color: $color-dark;
        background-color: $color-light;
        padding: 2rem 0;
        border-top-right-radius: $border-radius;
        border-top-left-radius: $border-radius;
        position: relative;
        z-index: $layer-modal;

        @include breakpoint(s) {
            padding: 3rem 0;
        }
    }

    &__back {
        border: none;
        border-radius: 0;
        background: transparent;
        transition: none;
        margin: 0;
        padding: 0;
        z-index: $layer-modal;
    }

    &__close {
        display: flex;
        justify-content: flex-end;
        right: $grid-vertical-space;
        top: 1rem;
        position: absolute;
        border: none;
        background: transparent;
        cursor: pointer;

        @include breakpoint(s) {
            top: 1.5rem;
        }
    }

    &__icon {
        width: 36px;
        height: 36px;
        color: $color-dark;

        @include breakpoint(s) {
            width: 48px;
            height: 48px;
        }
    }
}
